body {
  margin: 0;
  background-image: linear-gradient(260deg, tomato 0%, goldenrod 100%); }

* {
  box-sizing: border-box; }

.wrapper {
  margin: auto;
  max-width: 1300px; }

.items {
  display: flex;
  background: tomato;
  border: 3px solid goldenrod;
  min-height: 100vh;
  flex-wrap: wrap;
  /* align-content: flex-start; */
  /* flex-direction: column; */
  /* justify-content: space-around; */ }

.item {
  /* flex: 1; */
  background: teal;
  border: 3px solid DarkTurquoise;
  width: 33.333%; }
